@import "tailwindcss";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";
@import "@radix-ui/themes/styles.css";
@source "./components/*.tsx";

@custom-variant dark (&:is(.dark *));

:root {
  --scaling: 4px;
}

@theme inline {
  --color-background: var(--color-background);
  --color-foreground: var(--gray-12);
  --color-card: var(--color-surface);
  --color-card-foreground: var(--gray-12);
  --color-popover: var(--color-panel);
  --color-popover-foreground: var(--gray-12);
  --color-primary: var(--accent-9);
  --color-primary-foreground: var(--accent-contrast);
  --color-secondary: var(--accent-a3);
  --color-secondary-foreground: var(--accent-a12);
  --color-muted: var(--color-surface);
  --color-muted-foreground: var(--gray-a12);
  --color-accent: var(--accent-9);
  --color-accent-foreground: var(--accent-contrast);
  --color-destructive: var(--red-9);
  --color-destructive-foreground: var(--red-contrast);
  --color-border: var(--gray-a5);
  --color-input: var(--gray-a5);
  --color-ring: var(--focus-8);
  --color-chart-1: oklch(0.646 0.222 41.116);
  --color-chart-2: oklch(0.6 0.118 184.704);
  --color-chart-3: oklch(0.398 0.07 227.392);
  --color-chart-4: oklch(0.828 0.189 84.429);
  --color-chart-5: oklch(0.769 0.188 70.08);
  --radius-sm: var(--radius-1);
  --radius-md: var(--radius-2);
  --radius-lg: var(--radius-3);
  --radius-xl: var(--radius-4);
  --color-sidebar: var(--gray-2);
  --color-sidebar-foreground: var(--gray-12);
  --color-sidebar-primary: var(--gray-a9);
  --color-sidebar-primary-foreground: var(--gray-contrast);
  --color-sidebar-accent: var(--gray-a3);
  --color-sidebar-accent-foreground: var(--gray-12);
  --color-sidebar-border: var(--gray-a5);
  --color-sidebar-ring: var(--gray-a8);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
