:root,
.light,
.light-theme {
  --blue-1: #f6f7f9;
  --blue-2: #f0f3fa;
  --blue-3: #e5ecfa;
  --blue-4: #d7e4fe;
  --blue-5: #c6d9ff;
  --blue-6: #b3cbfd;
  --blue-7: #9bb9f7;
  --blue-8: #799ff2;
  --blue-9: #3f76ff;
  --blue-10: #3569ed;
  --blue-11: #2a5bdb;
  --blue-12: #172e67;

  --blue-a1: #2f62c805;
  --blue-a2: #1358fa0b;
  --blue-a3: #0758fa16;
  --blue-a4: #cfdfffcc;
  --blue-a5: #c6d9ff;
  --blue-a6: #84acff99;
  --blue-a7: #0150f361;
  --blue-a8: #004aea84;
  --blue-a9: #3f76ff;
  --blue-a10: #0042eac9;
  --blue-a11: #013cd5d5;
  --blue-a12: #001958e8;

  --blue-contrast: #fff;
  --blue-surface: #eef1facc;
  --blue-indicator: #3f76ff;
  --blue-track: #3f76ff;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --blue-1: oklch(97.7% 0.0029 264.4);
      --blue-2: oklch(96.5% 0.0098 264.4);
      --blue-3: oklch(94.2% 0.0204 264.4);
      --blue-4: oklch(91.7% 0.0389 264.4);
      --blue-5: oklch(88.4% 0.0572 264.4);
      --blue-6: oklch(84.1% 0.0753 264.4);
      --blue-7: oklch(78.5% 0.0952 264.4);
      --blue-8: oklch(70.9% 0.1286 264.4);
      --blue-9: oklch(60.7% 0.2124 264.4);
      --blue-10: oklch(56.4% 0.2068 264.4);
      --blue-11: oklch(51.8% 0.2029 264.4);
      --blue-12: oklch(32% 0.103 264.4);

      --blue-a1: color(display-p3 0 0.2471 0.7373 / 0.016);
      --blue-a2: color(display-p3 0 0.2196 0.8745 / 0.036);
      --blue-a3: color(display-p3 0 0.2941 0.9333 / 0.08);
      --blue-a4: color(display-p3 0.6588 0.7647 1 / 0.4);
      --blue-a5: color(display-p3 0.5098 0.6471 1 / 0.4);
      --blue-a6: color(display-p3 0 0.2706 0.9686 / 0.264);
      --blue-a7: color(display-p3 0 0.2549 0.8941 / 0.356);
      --blue-a8: color(display-p3 0 0.2353 0.8706 / 0.484);
      --blue-a9: color(display-p3 0 0.2314 0.9569 / 0.696);
      --blue-a10: color(display-p3 0 0.2039 0.8706 / 0.736);
      --blue-a11: color(display-p3 0 0.1765 0.7843 / 0.78);
      --blue-a12: color(display-p3 0 0.0745 0.3137 / 0.888);

      --blue-contrast: #fff;
      --blue-surface: color(display-p3 0.9373 0.9451 0.9804 / 0.8);
      --blue-indicator: oklch(60.7% 0.2124 264.4);
      --blue-track: oklch(60.7% 0.2124 264.4);
    }
  }
}

:root,
.light,
.light-theme {
  --gray-1: #f7f6f6;
  --gray-2: #f3f3f2;
  --gray-3: #ebe9e8;
  --gray-4: #e1e1e1;
  --gray-5: #dbd9d8;
  --gray-6: #d1d1d1;
  --gray-7: #c7c6c6;
  --gray-8: #b4b3b2;
  --gray-9: #868685;
  --gray-10: #7c7b7b;
  --gray-11: #5e5d5d;
  --gray-12: #202020;

  --gray-a1: #622f2f05;
  --gray-a2: #34341809;
  --gray-a3: #31160913;
  --gray-a4: #0000001a;
  --gray-a5: #190a0323;
  --gray-a6: #0000002a;
  --gray-a7: #0a050536;
  --gray-a8: #0906024a;
  --gray-a9: #04040278;
  --gray-a10: #02000082;
  --gray-a11: #030202a1;
  --gray-a12: #000000de;

  --gray-contrast: #ffffff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #868685;
  --gray-track: #868685;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --gray-1: oklch(97.5% 0.0014 48.72);
      --gray-2: oklch(96.4% 0.001 48.72);
      --gray-3: oklch(93.5% 0.0025 48.72);
      --gray-4: oklch(91% 0.0005 48.72);
      --gray-5: oklch(88.7% 0.0024 48.72);
      --gray-6: oklch(86.2% 0.0002 48.72);
      --gray-7: oklch(82.8% 0.0005 48.72);
      --gray-8: oklch(76.7% 0.0014 48.72);
      --gray-9: oklch(61.9% 0.0005 48.72);
      --gray-10: oklch(58.4% 0.0007 48.72);
      --gray-11: oklch(48% 0.0004 48.72);
      --gray-12: oklch(24.3% 0.0002 48.72);

      --gray-a1: color(display-p3 0.2471 0 0 / 0.016);
      --gray-a2: color(display-p3 0.1255 0.1255 0 / 0.032);
      --gray-a3: color(display-p3 0.1647 0.0549 0 / 0.072);
      --gray-a4: color(display-p3 0 0 0 / 0.1);
      --gray-a5: color(display-p3 0.0902 0.0314 0 / 0.136);
      --gray-a6: color(display-p3 0 0 0 / 0.164);
      --gray-a7: color(display-p3 0.0196 0 0 / 0.208);
      --gray-a8: color(display-p3 0.0275 0.0157 0 / 0.288);
      --gray-a9: color(display-p3 0.0118 0.0118 0 / 0.468);
      --gray-a10: color(display-p3 0.0078 0 0 / 0.508);
      --gray-a11: color(display-p3 0.0078 0 0 / 0.628);
      --gray-a12: color(display-p3 0 0 0 / 0.872);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(61.9% 0.0005 48.72);
      --gray-track: oklch(61.9% 0.0005 48.72);
    }
  }
}

:root,
.light,
.light-theme,
.radix-themes {
  --color-background: #fafafa;
}

.dark,
.dark-theme {
  --blue-1: #141b24;
  --blue-2: #151e29;
  --blue-3: #152c47;
  --blue-4: #13365e;
  --blue-5: #19406e;
  --blue-6: #224c7d;
  --blue-7: #2c5a90;
  --blue-8: #336aab;
  --blue-9: #3c85d9;
  --blue-10: #2e78cb;
  --blue-11: #84b9f9;
  --blue-12: #d0e3fb;

  --blue-a1: #001bec0b;
  --blue-a2: #004bfb10;
  --blue-a3: #0572fc32;
  --blue-a4: #0577ff4b;
  --blue-a5: #1a81ff5d;
  --blue-a6: #2e8dff6e;
  --blue-a7: #3e96ff83;
  --blue-a8: #4297fea2;
  --blue-a9: #439affd5;
  --blue-a10: #3494ffc5;
  --blue-a11: #86bcfef9;
  --blue-a12: #d3e7fffb;

  --blue-contrast: #fff;
  --blue-surface: #12213780;
  --blue-indicator: #3c85d9;
  --blue-track: #3c85d9;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --blue-1: oklch(22% 0.0213 253.9);
      --blue-2: oklch(23.3% 0.0254 253.9);
      --blue-3: oklch(29% 0.0583 253.9);
      --blue-4: oklch(33% 0.0816 253.9);
      --blue-5: oklch(37% 0.0902 253.9);
      --blue-6: oklch(41.3% 0.0948 253.9);
      --blue-7: oklch(46.3% 0.1027 253.9);
      --blue-8: oklch(52% 0.1178 253.9);
      --blue-9: oklch(61.1% 0.147 253.9);
      --blue-10: oklch(56.9% 0.147 253.9);
      --blue-11: oklch(77.3% 0.1077 253.9);
      --blue-12: oklch(90.9% 0.0384 253.9);

      --blue-a1: color(display-p3 0 0.1098 0.9804 / 0.036);
      --blue-a2: color(display-p3 0 0.3098 0.9882 / 0.058);
      --blue-a3: color(display-p3 0.1216 0.4471 1 / 0.185);
      --blue-a4: color(display-p3 0.1412 0.4706 1 / 0.281);
      --blue-a5: color(display-p3 0.2118 0.5059 0.9961 / 0.351);
      --blue-a6: color(display-p3 0.2863 0.5647 1 / 0.413);
      --blue-a7: color(display-p3 0.3333 0.5961 1 / 0.496);
      --blue-a8: color(display-p3 0.3529 0.6039 0.9961 / 0.61);
      --blue-a9: color(display-p3 0.3608 0.6118 1 / 0.808);
      --blue-a10: color(display-p3 0.3216 0.5843 1 / 0.746);
      --blue-a11: color(display-p3 0.5843 0.7529 1 / 0.952);
      --blue-a12: color(display-p3 0.851 0.9059 1 / 0.974);

      --blue-contrast: #fff;
      --blue-surface: color(display-p3 0.0824 0.1255 0.2039 / 0.5);
      --blue-indicator: oklch(61.1% 0.147 253.9);
      --blue-track: oklch(61.1% 0.147 253.9);
    }
  }
}

.dark,
.dark-theme {
  --gray-1: #1b1a1b;
  --gray-2: #222122;
  --gray-3: #2b292a;
  --gray-4: #312f30;
  --gray-5: #383537;
  --gray-6: #403d3f;
  --gray-7: #4d4a4b;
  --gray-8: #646162;
  --gray-9: #716e70;
  --gray-10: #7e7b7c;
  --gray-11: #b7b3b5;
  --gray-12: #efeeee;

  --gray-a1: #c3001b03;
  --gray-a2: #ffb4ce0a;
  --gray-a3: #ffcedb14;
  --gray-a4: #fcd8e21b;
  --gray-a5: #fbd9e723;
  --gray-a6: #fce1ec2c;
  --gray-a7: #feeaef3a;
  --gray-a8: #fdf0f354;
  --gray-a9: #fef3f862;
  --gray-a10: #fff6f870;
  --gray-a11: #fef8fbb0;
  --gray-a12: #fefdfdee;

  --gray-contrast: #ffffff;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #716e70;
  --gray-track: #716e70;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --gray-1: oklch(22% 0.002 345.5);
      --gray-2: oklch(25% 0.0018 345.5);
      --gray-3: oklch(28.5% 0.0025 345.5);
      --gray-4: oklch(30.9% 0.0034 345.5);
      --gray-5: oklch(33.3% 0.004 345.5);
      --gray-6: oklch(36.4% 0.0045 345.5);
      --gray-7: oklch(41.2% 0.0051 345.5);
      --gray-8: oklch(49.5% 0.0051 345.5);
      --gray-9: oklch(54.1% 0.0051 345.5);
      --gray-10: oklch(58.6% 0.0051 345.5);
      --gray-11: oklch(77% 0.0051 345.5);
      --gray-12: oklch(94.9% 0.0012 345.5);

      --gray-a1: color(display-p3 0.9725 0 0.1059 / 0.009);
      --gray-a2: color(display-p3 0.9804 0.698 0.7961 / 0.04);
      --gray-a3: color(display-p3 0.9922 0.8039 0.851 / 0.079);
      --gray-a4: color(display-p3 0.9961 0.8549 0.8941 / 0.105);
      --gray-a5: color(display-p3 1 0.8863 0.9451 / 0.131);
      --gray-a6: color(display-p3 0.9961 0.9059 0.9529 / 0.166);
      --gray-a7: color(display-p3 1 0.9373 0.9569 / 0.222);
      --gray-a8: color(display-p3 1 0.9608 0.9725 / 0.322);
      --gray-a9: color(display-p3 0.9961 0.9647 0.9843 / 0.379);
      --gray-a10: color(display-p3 1 0.9725 0.9804 / 0.435);
      --gray-a11: color(display-p3 1 0.9765 0.9882 / 0.683);
      --gray-a12: color(display-p3 1 0.9961 0.9961 / 0.931);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(54.1% 0.0051 345.5);
      --gray-track: oklch(54.1% 0.0051 345.5);
    }
  }
}

.dark,
.dark-theme,
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #191b1b;
}
